.header {
    width: 100vw;

    img {
        height: 200px;
    }
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    div {
        width: 250px;

        img {
            width: 100%;
        }
    }
}